<div class="container">
  <h1>List of cocktails</h1>
</div>

<div class="container">
  <div class="flex-div">
    <% @cocktails.each do |c| %>
      <div>
        <h5 class= "cocktail-label">
          <%= c[:name] %>
        </h5>
        <%= link_to cocktail_path(c[:id]) do %>
          <div class="cocktail-card" style="background-image: url('<%= cl_image_path c.photo.key %>')">
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-primary" %>
