<div class="container">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
</div>




<%= link_to 'Back to list', cocktails_path %>
